
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
</head>
<body>
    <center>
        <h1>Ký duyệt thành công!</h1>

    </center>
    
</body>
</html>
