
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OndutySignSuccess</title>
</head>
<body>
    <h1><label>Ký duyệt thành công!</label></h1>
</body>
</html>
