@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sai Vị Trí</title>
</head>
<body>
    <h1><label>Bạn Chưa Đồng Bộ Tài Khoản Zalo Với Mã Thẻ</label></h1>
</body>
</html>
