@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sai Vị Trí</title>
</head>
<body>
    <h1><label>Bạn Đã Đứng Sai Vị Trí Vui Lòng Kiểm Tra Lại</label></h1>
</body>
</html>
